root{
    --mainFont: "Lucid Console", Lucida, monospace;
}


.output {
    margin: auto;
    /* font-weight: bold; */
    font-family: var(--mainFont);
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}


.trace {
    color: rgb(8, 132, 189);
}

.info {
    color: rgb(24, 136, 20);
}

.warn {
    color: rgb(210, 223, 28);
}

.error {
    color: rgb(238, 28, 28);
}

.critical {
    color: rgb(68, 4, 43);
}